<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="/reveal.js/css/theme/{{ page.reveal.theme }}.css">
    <link rel="stylesheet" href="/reveal.js/lib/css/zenburn.css">
    <script>
      // If the query includes 'print-pdf' we'll use the PDF print sheet
      document.write( '<link rel="stylesheet" href="/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="state-background"></div>
      
      <div class="slides">
          {{ content }}
      </div>

      <div class="progress"><span></span></div>
    </div>

    <script src="/reveal.js/lib/js/head.min.js"></script>
    <script src="/reveal.js/js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js.js#configuration
      Reveal.initialize({
      controls: {{ page.reveal.controls }},
      progress: {{ page.reveal.progress }},
      slideNumber: {{ page.reveal.slideNumber }},
      history: {{ page.reveal.history }},
      keyboard: {{ page.reveal.keyboard }},
      overview: {{ page.reveal.overview }},
      center: {{ page.reveal.center }},
      touch: {{ page.reveal.touch }},
      loop: {{ page.reveal.loop }},
      rtl: {{ page.reveal.rtl }},
      fragments: {{ page.reveal.fragments }},
      embedded: {{ page.reveal.embedded }},
      autoSlide: {{ page.reveal.autoSlide }},
      autoSlideStoppable: {{ page.reveal.autoSlideStoppable }},
      mouseWheel: {{ page.reveal.mouseWheel }},
      hideAddressBar: {{ page.reveal.hideAddressBar }},
      previewLinks: {{ page.reveal.previewLinks }},
      transition: Reveal.getQueryHash().transition || '{{ page.reveal.transition }}', // default/cube/page/concave/linear(2d)
      transitionSpeed: '{{ page.reveal.transitionSpeed }}',
      backgroundTransition: '{{ page.reveal.backgroundTransition }}',
      viewDistance: {{ page.reveal.viewDistance }},
      parallaxBackgroundImage: '{{ page.reveal.parallaxBackgroundImage }}',
      parallaxBackgroundSize: '{{ page.reveal.parallaxBackgroundSize }}',

      // Optional libraries used to extend on reveal.js
      dependencies: [
        { src: '/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: '/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
        { src: '/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } }
      ]

      });

    </script>
  </body>
</html>
